@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

.result-container {
    text-align: center;
    align-items: center;
    top: 50px;
    position: relative;
}

.choice-card {
    cursor: pointer;
    color: #273746;
    background: #fff;
    padding: 40px 15px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    box-shadow: 0px 0px 5px #000;
    width: 180px;
    margin: auto;
}

.selected-choice {
    border-color: #F39C12;
    box-shadow: 0px 0px 0px 40px rgb(2 64 76 / 0.6), 
                0px 0px 0px 80px rgb(2 64 76 / 0.5), 
                0px 0px 0px 120px rgb(2 64 76 / 0.4), 
                0px 0px 0px 160px rgb(2 64 76 / 0.3), 
                0px 0px 0px 200px rgb(2 64 76 / 0.2);
    z-index: -1000;
    position: relative;
}

.computer-choice {
    border-color: #E74C3C;
}

.result-message {
    font-size: 45px;
    font-family: 'Grandstander', cursive;
}

.choice-name {
    margin-top: 20px;
}