.select-container {
    text-align: center;
}

label {
    cursor: pointer;
    color: #273746;
    background: #fff;
    padding: 20px 15px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    box-shadow: 0px 0px 5px #000;
}

label:hover {
    box-shadow: 0px 0px 15px #000;
    margin-top: -1px;
}