<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
<div class="modal-header">
    <h4 class="modal-title">Game Rules</h4>
  </div>
  <div class="modal-body">
    <div class="heading">
      Rock Paper Scissors
    </div>
    <div class="rules-list">
      <ul class="list-group">
        <li class="list-group-item">Scissors cuts Paper</li>
        <li class="list-group-item">Paper covers Rock</li>
        <li class="list-group-item">Rock crushes Scissors</li>
      </ul>
    </div>

    <div class="heading">
      Rock Paper Scissors Lizard Spock
    </div>
    <div class="rules-list">
      <ul class="list-group">
        <li class="list-group-item">Scissors cuts Paper</li>
        <li class="list-group-item">Paper covers Rock</li>
        <li class="list-group-item">Rock crushes Lizard</li>
        <li class="list-group-item">Lizard poisons Spock</li>
        <li class="list-group-item">Spock smashes Scissors</li>
        <li class="list-group-item">Scissors decapitates Lizard</li>
        <li class="list-group-item">Lizard eats Paper</li>
        <li class="list-group-item">Paper disproves Spock</li>
        <li class="list-group-item">Spock vaporizes Rock</li>
        <li class="list-group-item">(and as it always has) Rock crushes Scissors</li>
      </ul>      
    </div>
  </div>